@font-face {
  font-family: "SpacePatrol";
  font-style: normal;
  font-weight: normal;
  src: local("SpacePatrol"), url("SPACP___.woff") format("woff");
}

h1 {
  font-family: "SpacePatrol";
  color: #05ec37;
}
